<img src="Smart_Fresh.jpg" alt="Smart and Fresh Logo" style="float: left; margin-right: 10px;" />

<div style="display: flex; justify-content: center;">
    <div style="margin-right: 20px;">
        <table>
            <tr>
                <td colspan="4" align="center"><strong>Sandwich Prices</strong></td>
            </tr>
            <tr>
                <td align="center"><strong>Menu #</strong></td>
                <td align="center"><strong>Sandwich</strong></td>
                <td align="center"><strong>6"</strong></td>
                <td align="center"><strong>12"</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Cold Cut</td>
                <td>\$3.75</td>
                <td>\$5.50</td>
            </tr>
            <tr>
                <td>2</td>
                <td>BLT</td>
                <td>\$3.75</td>
                <td>\$5.50</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Italian</td>
                <td>\$4.25</td>
                <td>\$6.75</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Meatball</td>
                <td>\$3.75</td>
                <td>\$5.50</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Chicken</td>
                <td>\$4.75</td>
                <td>\$7.75</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Steak</td>
                <td>\$4.75</td>
                <td>\$7.75</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Pastrami</td>
                <td>\$4.75</td>
                <td>\$6.75</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td colspan="4" align="center"><strong>Sandwich Cost</strong></td>
            </tr>
            <tr>
                <td align="center"><strong>Menu #</strong></td>
                <td align="center"><strong>Sandwich</strong></td>
                <td align="center"><strong>6"</strong></td>
                <td align="center"><strong>12"</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Cold Cut</td>
                <td>\$0.70</td>
                <td>\$1.33</td>
            </tr>
            <tr>
                <td>2</td>
                <td>BLT</td>
                <td>\$0.73</td>
                <td>\$1.39</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Italian</td>
                <td>\$0.81</td>
                <td>\$1.54</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Meatball</td>
                <td>\$0.65</td>
                <td>\$1.23</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Chicken</td>
                <td>\$0.93</td>
                <td>\$1.78</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Steak</td>
                <td>\$1.05</td>
                <td>\$2.02</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Pastrami</td>
                <td>\$0.80</td>
                <td>\$1.52</td>
            </tr>
        </table>
    </div>
    <div style="margin-left: 20px;">
    <table>
      <tr>
        <td colspan="3" align="center"><strong>Shifts</strong></td>
      </tr>
      <tr>
        <td><strong>Morning</strong></td>
        <td>1000</td>
        <td>1059</td>  
      </tr>
      <tr>
        <td><strong>Lunch</strong></td>
        <td>1100</td>
        <td>1359</td>  
      </tr>
      <tr>
        <td><strong>Mid-Day</strong></td>
        <td>1400</td>
        <td>1559</td>  
      </tr>
      <tr>
        <td><strong>Dinner</strong></td>
        <td>1600</td>
        <td>2059</td>  
      </tr>
      <tr>
        <td><strong>Evening</strong></td>
        <td>2100</td>
        <td>2200</td>  
      </tr>        
    </table>
  </div>
</div>

<div style="display: flex; justify-content: center;">
    <div style="margin-right: 20px;">
        <table>
            <tr>
                <td colspan="2" align="center"><strong>Promotions</strong></td>
            </tr>
            <tr>
                <td><strong>January</strong></td>
                <td>\$5 Footlong</td>
            </tr>
            <tr>
                <td><strong>February</strong></td>
                <td>25% off Steak Sandwich</td>
            </tr>
            <tr>
                <td><strong>October</strong></td>
                <td>25% off Italian Sandwich</td>
            </tr>
            <tr>
                <td><strong>November</strong></td>
                <td>\$5 Footlong</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td colspan="2" align="center"><strong>Business Priorities (KPIs)</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Quality</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Customer Satisfaction</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Cost</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Gross Sales</td>
            </tr>
        </table>
    </div>
</div>

# Import required libraries

# Read in as Pandas dataframe

# Cleaning Pandas Dataframe

# Examples of editing/creating columns

# Pandas Mapping

# Create a new csv from a Pandas Dataframe